# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual Environment
venv/
.env

# SQLite Database
*.db
*.sqlite3

# VS Code
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# PyInstaller
*.spec
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Coverage / Testing
htmlcov/
.coverage
.pytest_cache/
